{% extends "juice/templates/page.html" %}
{% block head %}
<meta property="og:url" content="{{ page.permalink | safe }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.content | striptags | truncate(length=90) }}" />
<meta property="og:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:domain" content="veryl-lang.org" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.content | striptags | truncate(length=90) }}" />
<meta name="twitter:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />
{% endblock head %}

{% block content %}
<div class="heading-text">{{ page.title }}</div>
{{ page.content | safe }}
{% endblock content %}
