{% extends "juice/templates/index.html" %}
{% block head %}
<meta property="og:url" content="{{ section.permalink | safe }}" />
<meta property="og:title" content="Veryl: A Modern Hardware Description Language" />
<meta property="og:description" content="Veryl is a hardware description language which is designed as a SystemVerilog alternative." />
<meta property="og:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:domain" content="veryl-lang.org" />
<meta name="twitter:title" content="Veryl: A Modern Hardware Description Language" />
<meta name="twitter:description" content="Veryl is a hardware description language which is designed as a SystemVerilog alternative." />
<meta name="twitter:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />
{% endblock head %}
{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Veryl Hardware Description Language
    </h1>
    <h3 class="title-text">
        A modern hardware description language designed as SystemVerilog alternative.
    </h3>

    <div>
        <a class="github-button" href="https://github.com/veryl-lang/veryl" data-size="large" data-show-count="true"
            aria-label="Star veryl-lang/veryl on GitHub">Star</a>
        <a class="github-button" href="https://github.com/sponsors/dalance" data-size="large" data-icon="octicon-heart"
            aria-label="Sponsor @dalance on GitHub">Sponsor</a>
    </div>
</section>
<img class="hero-image" style="height: 80%" src="{{ get_url(path='code.png') }}">

<div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore Veryl ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block toc %}
{% if section.toc %}
{% set toc = section.toc %}
{% elif page.toc %}
{% set toc = page.toc %}
{% endif %}
{% if toc %}
<div class="toc">
    <div class="toc-sticky">
        {% for h in toc %}
        <div class="toc-item">
            <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
        </div>
        {% if h.children %}
        {% for h2 in h.children %}
        <div class="toc-item-child">
            <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock toc %}
