{% extends "juice/templates/page.html" %}
{% block head %}
<meta property="og:url" content="{{ page.permalink | safe }}" />
<meta property="og:title" content="Veryl: A Modern Hardware Description Language" />
<meta property="og:description" content="Veryl is a hardware description language which is designed as a SystemVerilog alternative." />
<meta property="og:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:domain" content="veryl-lang.org" />
<meta name="twitter:title" content="Veryl: A Modern Hardware Description Language" />
<meta name="twitter:description" content="Veryl is a hardware description language which is designed as a SystemVerilog alternative." />
<meta name="twitter:image" content="https://github.com/veryl-lang/veryl/raw/master/support/logo/veryl_ogp.png" />
{% endblock head %}
